
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
ConsoliDate.iml
target/classes/TestPicturesTemp/Video 20 July.mp4
target/classes/TestPicturesTemp/Foto van 23 July b.jpeg
target/classes/TestPicturesTemp/Foto van 23 July a.jpeg
target/classes/TestPicturesTemp/Foto van 21 July c.jpg
target/classes/TestPicturesTemp/Foto van 21 July b.jpg
target/classes/TestPicturesTemp/Foto van 21 July a.jpg
target/classes/TestPicturesTemp/20180725/2018-07-25 11.03.17.png_20180725
target/classes/TestPicturesTemp/20180723/Foto van 23 July b.jpeg_20180723
target/classes/TestPicturesTemp/20180723/Foto van 23 July a.jpeg_20180723
target/classes/TestPicturesTemp/20180721/Foto van 21 July c.jpg_20180721
target/classes/TestPicturesTemp/20180721/Foto van 21 July b.jpg_20180721
target/classes/TestPicturesTemp/20180721/Foto van 21 July a.jpg_20180721
target/classes/TestPicturesTemp/20180721/2018-07-21 16.24.36.mov_20180721
target/classes/TestPicturesTemp/20180720/Video 20 July.mp4_20180720
target/classes/TestPicturesTemp/2018-07-25 11.03.17.png
target/classes/TestPicturesTemp/2018-07-21 16.24.36.mov
target/classes/TestPictures/Video 20 July.mp4
target/classes/TestPictures/Foto van 23 July b.jpeg
target/classes/TestPictures/Foto van 23 July a.jpeg
target/classes/TestPictures/Foto van 21 July c.jpg
target/classes/TestPictures/Foto van 21 July b.jpg
target/classes/TestPictures/Foto van 21 July a.jpg
target/classes/TestPictures/2018-07-25 11.03.17.png
target/classes/TestPictures/2018-07-21 16.24.36.mov
target/classes/com/codeboyq/ExifReader.class
target/classes/com/codeboyq/ConsoliDateApp.class
